*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
 text-align: center;
 color: white;

}
h3{
    text-align: center;
    color: white;
    
    
}
img{
    width: 35vh;
    height: 30vh;
    border: solid white;
    background-color: pink;
    border-radius: 6vh;
}
table{
    margin-left: 80px;
}


body{
    background-color: pink
}
td{
    box-shadow: 10px 10px 10px;
    border: solid white 7px;
}
